.harvest-top{
    background-image: url('./harvest2.webp');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 50px;
    font-weight: bold;
    text-shadow: 2px 2px 4px #000000;
}